.questions-list {
  padding: 10px 10px;
}

.question {
  background: #fff;
  border-radius: 5px;
}

.question-content {
  padding: 10px 15px;
}

.question + .question {
  margin-top: 10px;
}

.question-text,
.question-answer {
  margin-bottom: 10px;
}

.question-text {
  color: #2e2f41;
}

.question-answer {
  color: #005a55;
}

.question-info {
  font-size: 12px;
}

.question-author {
  color: #005a55;
}

.question-date {
  color: #a0a0a0;
}

.question-actions {
  font-size: 20px;
  border-top: 1px solid #D9E6E5;
  text-align: right;
  padding: 10px 15px;
}

.question-actions a {
  margin-left: 10px;
}
