.questions-list {
  padding: 10px 10px;
}

.question {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 5px;
}

.question-content {
  padding: 10px 15px;
}

.question + .question {
  margin-top: 10px;
}

.question-text,
.question-answer {
  margin-bottom: 10px;
}

.question-text {
  color: #e7eced;
}

.question-answer {
  color: #e7eced;
}

.question-info {
  font-size: 12px;
}

.question-author {
  color: #005a55;
}

.question-date {
  color: #e7eced;
}

.question-actions {
  font-size: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  text-align: right;
  padding: 10px 15px;
}

.question-actions a {
  margin-left: 10px;
}

.question a {
  color: #bde3f4;
}
